<form>
 
  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select  (change)="onChange($event.target.value)" class="form-control" id="exampleFormControlSelect1">
      <option *ngFor="let fo of myfirst ; let i =index">{{fo}}</option>
     </select>
     <select  (change)="onChange2($event.target.value)" class="form-control" id="exampleFormControlSelect1">
      <option *ngFor="let foo of mysecond">{{foo}}</option>
     </select>
     <select  (change)="onChange3($event.target.value)" class="form-control" id="exampleFormControlSelect1">
      <option *ngFor="let fooo of mythird">{{fooo}}</option>
     </select>
     <select  (change)="onChange4($event.target.value)" class="form-control" id="exampleFormControlSelect1">
      <option *ngFor="let ff of myforth">{{ff}}</option>
     </select>
     <select  (change)="onChange5($event.target.value)" class="form-control" id="exampleFormControlSelect1">
      <option *ngFor="let f5 of myfifth">{{f5}}</option>
     </select>
     <select  (change)="onChange6($event.target.value)" class="form-control" id="exampleFormControlSelect1">
      <option *ngFor="let f6 of mysixth">{{f6}}</option>
     </select>
  </div>
  
 
</form>