<app-personnel-sidebar></app-personnel-sidebar>
<br>

<div class="row">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">YTD</span>
                <h5>Headcount</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">1,071</h1>
                <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
                <small>Total resources</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-info pull-right">Annual</span>
                <h5>Leavers</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">21</h1>
                <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                <small>New orders</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-primary pull-right">Today</span>
                <h5>Diversity</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">73% / 27%</h1>
                <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
                <small>New visits</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-danger pull-right">Low value</span>
                <h5>New Joiners</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">23</h1>
                <div class="stat-percent font-bold text-danger">19% <i class="fa fa-level-down"></i></div>
                <small>In first quarter</small>
            </div>
        </div>
</div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Staff Headcount Details</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a>
                        </li>
                        <li><a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

                <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables-example" >
            <thead>
            <tr>
                <th>Staff ID</th>
                <th>Name</th>
                <th>Hiring Date</th>
                <th>Division</th>
                <th>Title</th>
            </tr>
            </thead>

            <tbody>
                    <tr *ngFor="let person of Persons; let i = index" class="gradeX" (click)="setClasses(person.PersonnelID)" (dblclick)="setClasses('toggle')">
                        <td>{{person.PersonnelID }}</td>
                        <td>{{person.Name }}</td>
                        <td>{{person.HiringDate | date: 'shortDate' }}</td>
                        <td>{{person.Division }}</td>
                        <td>{{person.Title }}</td>
                    </tr>
                    </tbody>

            <tfoot>
            <tr>
                    <th>Staff ID</th>
                    <th>Name</th>
                    <th>Hiring Date</th>
                    <th>Division</th>
                    <th>Title</th>
            </tr>
            </tfoot>
            </table>
                </div>

            </div>
        </div>
    </div>
    </div>
</div>
