<div class="panel-body">
  <div class="row">
  <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Work Schedule Rule
      </h3>
  <form role="form">
          <div class="form-group">Work Schedule Rule <input [(ngModel)]="workSchedules && workSchedules.WorkScheduleRule" [ngModelOptions]="{standalone: true}" class="form-control"></div>
          <div class="form-group">Part-Time Employee <input [(ngModel)]="workSchedules && workSchedules.Part-TimeEmployee" [ngModelOptions]="{standalone: true}" class="form-control"></div>
          <div class="form-group">Weekly Working Hrs. <input [(ngModel)]="workSchedules && workSchedules.WeeklyWorkingHrs" [ngModelOptions]="{standalone: true}" class="form-control"></div>
          <div class="form-group">Monthly Working Hrs. <input [(ngModel)]="workSchedules && workSchedules.MonthlyWorkingHrs" [ngModelOptions]="{standalone: true}" class="form-control"></div>
          <div class="form-group">Shift-based? <input [(ngModel)]="workSchedules && workSchedules.Shift-based" [ngModelOptions]="{standalone: true}" class="form-control"></div>
          
  
  </form>
  
  </div>
  <div class="col-sm-6">
  <br><br><br>
  
  
  </div>
  </div>
  </div>