<div class="panel-body">
  <div class="row">
  <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Family Members
      </h3>
  <form role="form">
          <div class="form-group">Member Name <input  [(ngModel)]="Family && Family.MemberName" [ngModelOptions]="{standalone: true}" class="form-control"></div>
          <div class="form-group">Relationship <input  [(ngModel)]="Family && Family.Relationship" [ngModelOptions]="{standalone: true}" class="form-control"></div>

  
  </form>
  
  </div>
  <div class="col-sm-6">
  <br><br><br>
  
  
  </div>
  </div>
  </div>