
  <div class="panel-body">
  <div class="row">
  <div class="col-sm-6 b-r">


    
    <h3 class="m-t-none m-b">Personnel Action </h3>
  <form role="form" #actionForm="ngForm" >
  <div class="form-group">Action Type
     <input  [(ngModel)]="Actions && Actions.ActionType"
      [ngModelOptions]="{standalone: true}" class="form-control" 
      #name="ngModel" required ></div>
      <button type="submit" class="btn btn-success" [disabled]="actionForm.form.valid">Submit</button>
      <div *ngIf="name.invalid && (name.dirty || name.touched)"
     class="alert alert-danger">

  <div *ngIf="name.errors.required">
    Name is required.
  </div>
</div>
  <div class="form-group">Reason for Action 
    <input  [(ngModel)]="Actions && Actions.ActionReason" 
    [ngModelOptions]="{standalone: true}" class="form-control" required></div>
  <div class="form-group"> Termination Reason
    <input  [(ngModel)]="Actions && Actions.TerminationReason" 
    [ngModelOptions]="{standalone: true}" class="form-control" required></div>
  <div class="form-group">Employment Status 
    <input  [(ngModel)]="Actions && Actions.EmploymentStatus" 
    [ngModelOptions]="{standalone: true}" class="form-control" required ></div>

  
  </form>
  
  </div>
  <div class="col-sm-6">
  <br><br><br>

  </div>
  </div>
  </div>
