<div class="panel-body">
    <div class="row">
    <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Labor Contract
        </h3>
    <form role="form">
            <div class="form-group">Current Contract Type <input [(ngModel)]="laborContract && laborContract.CurrentContractType" [ngModelOptions]="{standalone: true}" class="form-control"></div>
            <div class="form-group">Probation EndDate <input [(ngModel)]="laborContract && laborContract.EndDate" [ngModelOptions]="{standalone: true}" class="form-control"></div>
            <div class="form-group">From <input  [(ngModel)]="laborContract && laborContract.From" [ngModelOptions]="{standalone: true}"class="form-control"></div>
            <div class="form-group">To <input  [(ngModel)]="laborContract && laborContract.To" [ngModelOptions]="{standalone: true}"class="form-control"></div>
            
    
    </form>
    
    </div>
    <div class="col-sm-6">
    <br><br><br>
    
    
    </div>
    </div>
    </div>