
<div class="panel-body">
  <div class="row">
  <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Address</h3>
    
  <form role="form" >
  <div class="form-group">Address 1 <input class="form-control" [(ngModel)]="Address && Address.Address1" [ngModelOptions]="{standalone: true}"></div>
  <div class="form-group">Address 2 <input class="form-control" [(ngModel)]="Address && Address.Address2" [ngModelOptions]="{standalone: true}"></div>
  <div class="form-group">Postal Code <input class="form-control" [(ngModel)]="Address && Address.PostalCode" [ngModelOptions]="{standalone: true}"></div>
  <div class="form-group">City <input class="form-control" [(ngModel)]="Address && Address.City" [ngModelOptions]="{standalone: true}"></div>
  <div class="form-group">Country <input class="form-control" [(ngModel)]="Address && Address.Country" [ngModelOptions]="{standalone: true}"></div>
  <div class="form-group">Private Email <input class="form-control" [(ngModel)]="Address && Address.PrivateEmail" [ngModelOptions]="{standalone: true}"></div>
  <div class="form-group">Business Email <input class="form-control" [(ngModel)]="Address && Address.BusinessEmail" [ngModelOptions]="{standalone: true}"></div>
  <div class="form-group">Country of Birth <input class="form-control" [(ngModel)]="Address && Address.Country" [ngModelOptions]="{standalone: true}"></div>
  
  </form>
 
  </div>
  <div class="col-sm-6">
  <br><br><br>
  <div class="form-group">Private Cell <input class="form-control" [(ngModel)]="Address && Address.PrivateCell" [ngModelOptions]="{standalone: true}"></div>
  <div class="form-group">Emergency Name(1) <input class="form-control" [(ngModel)]="Address && Address.EmergencyName1" [ngModelOptions]="{standalone: true}"></div>
  <div class="form-group">Relationship <input class="form-control" [(ngModel)]="Address && Address.Relationship1" [ngModelOptions]="{standalone: true}"></div>
  <div class="form-group">Phone <input class="form-control" [(ngModel)]="Address && Address.Phone1" [ngModelOptions]="{standalone: true}"></div>
  <div class="form-group">Emergency Name(2) <input class="form-control" [(ngModel)]="Address && Address.EmergencyName2" [ngModelOptions]="{standalone: true}"></div>
  <div class="form-group">Relationship <input class="form-control" [(ngModel)]="Address && Address.Relationship2" [ngModelOptions]="{standalone: true}"></div>
  <div class="form-group">Phone <input class="form-control" [(ngModel)]="Address && Address.Phone2" [ngModelOptions]="{standalone: true}"></div>
  </div>
  </div>
  </div>