<div style="display: flex">
  <div class="input-group input-group-sm mb-3">
    <input class="form-control" placeholder="yyyy-mm-dd"
    (click)="m.toggle()" name="dp" value="{{InfoPageHeader.ValidFrom | date: 'yyyy-mm-dd' }}" ngbDatepicker #m="ngbDatepicker">
    <div class="input-group-append" style="display: flex">
      <!-- <button class="btn-outline-secondary"  style="padding: 0px; border: 1px solid transparent ; cursor: pointer" type="button">
            <i class="material-icons md-36">date_range</i>
         <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
      <!-- </button> -->
    </div>
  </div>

<!-- <input type="text" class="input-sm" name="start" value="05/14/2014"> -->
        <div style=" padding: 2px;
        margin-left: 5px; margin-right: 10px;">to</div>

        <div class="input-group input-group-sm mb-3">
          <input class="form-control" placeholder="yyyy-mm-dd"
          (click)="t.toggle()" name="dp" value="{{InfoPageHeader.ValidTo | date: 'yyyy-mm-dd' }}" ngbDatepicker #t="ngbDatepicker">
          <div class="input-group-append" style="display: flex">
            <!-- <button class="btn-outline-secondary"  style="padding: 0px; border: 1px solid transparent ; cursor: pointer" type="button">
                  <i class="material-icons md-36">date_range</i>
               <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
            <!-- </button> -->
          </div>
        </div>


        <!-- <input type="text" class="input-sm" name="end" value="05/22/2014"> -->
        <div style="padding-left: 32px;">
        <button class="btn btn-link " type="button"><i class="fa fa-backward"></i></button>
        <button class="btn btn-link " type="button"><i class="fa fa-forward"></i></button>
        <button class="btn btn-link " type="button"><i class="fa fa-file"></i> New</button>
        <button class="btn btn-link " type="button"><i class="fa fa-edit"></i>&nbsp;&nbsp;<span class="bold">Edit</span></button>
        <button class="btn btn-link " type="button"><i class="fa fa-save"></i>&nbsp;Save</button>
        <button class="btn btn-link " type="button"><i class="fa fa-eye"></i>&nbsp;Overview</button>
        </div>
        

        

    </div>
    <div style="padding-left: 32px;">
      By: {{ InfoPageHeader.By }} Last Change: {{ InfoPageHeader.LastChange }} Created at: {{ InfoPageHeader.CreatedAt }} 
    </div>

    
    
<div class="panel-body">
  <div class="row">
  <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Address</h3>
    
  <form role="form" >
  <div class="form-group">Address 1 <input class="form-control" [(ngModel)]="Addresses && Addresses.Address1" [ngModelOptions]="{standalone: true}"></div>
  <div class="form-group">Address 2 <input class="form-control" [(ngModel)]="Addresses && Addresses.Address2" [ngModelOptions]="{standalone: true}"></div>
  <div class="form-group">Postal Code <input class="form-control" [(ngModel)]="Addresses && Addresses.PostalCode" [ngModelOptions]="{standalone: true}"></div>
  <div class="form-group">City <input class="form-control" [(ngModel)]="Addresses && Addresses.City" [ngModelOptions]="{standalone: true}"></div>
  <div class="form-group">Country <input class="form-control" [(ngModel)]="Addresses && Addresses.Country" [ngModelOptions]="{standalone: true}"></div>
  <div class="form-group">Private Email <input class="form-control" [(ngModel)]="Addresses && Addresses.PrivateEmail" [ngModelOptions]="{standalone: true}"></div>
  <div class="form-group">Business Email <input class="form-control" [(ngModel)]="Addresses && Addresses.BusinessEmail" [ngModelOptions]="{standalone: true}"></div>
  <div class="form-group">Country of Birth <input class="form-control" [(ngModel)]="Addresses && Addresses.Country" [ngModelOptions]="{standalone: true}"></div>
  
  </form>
 
  </div>
  <div class="col-sm-6">
  <br><br><br>
  <div class="form-group">Private Cell <input class="form-control" [(ngModel)]="Addresses && Addresses.PrivateCell" [ngModelOptions]="{standalone: true}"></div>
  <div class="form-group">Emergency Name(1) <input class="form-control" [(ngModel)]="Addresses && Addresses.EmergencyName1" [ngModelOptions]="{standalone: true}"></div>
  <div class="form-group">Relationship <input class="form-control" [(ngModel)]="Addresses && Addresses.Relationship1" [ngModelOptions]="{standalone: true}"></div>
  <div class="form-group">Phone <input class="form-control" [(ngModel)]="Addresses && Addresses.Phone1" [ngModelOptions]="{standalone: true}"></div>
  <div class="form-group">Emergency Name(2) <input class="form-control" [(ngModel)]="Addresses && Addresses.EmergencyName2" [ngModelOptions]="{standalone: true}"></div>
  <div class="form-group">Relationship <input class="form-control" [(ngModel)]="Addresses && Addresses.Relationship2" [ngModelOptions]="{standalone: true}"></div>
  <div class="form-group">Phone <input class="form-control" [(ngModel)]="Addresses && Addresses.Phone2" [ngModelOptions]="{standalone: true}"></div>
  </div>
  </div>
  </div>