<div class="panel-body">
  <div class="row">
  <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Annual Awards
      </h3>
  <form role="form">
          <div class="form-group">Award Type <input [(ngModel)]="Awards.AwardType" [ngModelOptions]="{standalone: true}" class="form-control"></div>
          <div class="form-group">Target Bonus <input [(ngModel)]="Awards.TargetBonus" [ngModelOptions]="{standalone: true}" class="form-control"></div>
          <div class="form-group">Currency <input [(ngModel)]="Awards.Currency" [ngModelOptions]="{standalone: true}" class="form-control"></div>
          <div class="form-group">Percentage <input [(ngModel)]="Awards.Percentage" [ngModelOptions]="{standalone: true}" class="form-control"></div>
          
  
  </form>
  
  </div>
  <div class="col-sm-6">
  <br><br><br>
  
  
  </div>
  </div>
  </div>