<div class="panel-body">
  <div class="row">
  <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Annual Awards
      </h3>
  <form role="form">
          <div class="form-group">Award Type <input class="form-control"></div>
          <div class="form-group">Target Bonus <input class="form-control"></div>
          <div class="form-group">Currency <input class="form-control"></div>
          <div class="form-group">Percentage <input class="form-control"></div>
          
  
  </form>
  
  </div>
  <div class="col-sm-6">
  <br><br><br>
  
  
  </div>
  </div>
  </div>