<div class="panel-body">
  <div class="row">
  <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">License details
      </h3>
  <form role="form">
          <div class="form-group">License Type <input [(ngModel)]="Licenses && Licenses.LicenseType" [ngModelOptions]="{standalone: true}" class="form-control"></div>
          <div class="form-group">License Name <input [(ngModel)]="Licenses && Licenses.LicenseName" [ngModelOptions]="{standalone: true}" class="form-control"></div>
          <div class="form-group">Issue Date <input [(ngModel)]="Licenses && Licenses.IssueDate" [ngModelOptions]="{standalone: true}" class="form-control"></div>
          <div class="form-group">Expiration Date <input [(ngModel)]="Licenses && Licenses.ExpirationDate" [ngModelOptions]="{standalone: true}" class="form-control"></div>
          <div class="form-group">Issue Institute <input [(ngModel)]="Licenses && Licenses.IssueInstitute" [ngModelOptions]="{standalone: true}" class="form-control"></div>
          <div class="form-group">Entity Country <input [(ngModel)]="Licenses && Licenses.EntityCountry" [ngModelOptions]="{standalone: true}" class="form-control"></div>
          
  
  </form>
  
  </div>
  <div class="col-sm-6">
  <br><br><br>
  
  
  </div>
  </div>
  </div>