<div class="panel-body">
  <div class="row">
  <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Bank Details
      </h3>
  <form role="form">
          <div class="form-group">Bank Name <input class="form-control"></div>
          <div class="form-group">Bank Country <input class="form-control"></div>
          <div class="form-group">Branch Name <input class="form-control"></div>
          <div class="form-group">Branch Code <input class="form-control"></div>
          <div class="form-group">Bank Key <input class="form-control"></div>
          <div class="form-group">Account No. <input class="form-control"></div>
          <div class="form-group">Currency <input class="form-control"></div>
          
  
  </form>
  
  </div>
  <div class="col-sm-6">
  <br><br><br>
  
  
  </div>
  </div>
  </div>