
  <div class="panel-body">
  <div class="row">
  <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Name
      </h3>
  <form role="form">
  <div class="form-group">Form of Address <input class="form-control" value="{{Personal.ArabicFullName}}"></div>
  <div class="form-group">First Name <input class="form-control" value="{{Personal.FirstName}}"></div>
  <div class="form-group">Last Name <input class="form-control" value="{{Personal.LastName}}"></div>
  <div class="form-group">Arabic Full Name <input class="form-control" value="{{Personal.ArabicFullName}}"></div>
  <div class="form-group">Gender <input class="form-control" value="{{Personal.Gender}}"></div>
  <div class="form-group">Date of Birth <input class="form-control" value="{{Personal.DateofBirth}}"></div>
  <div class="form-group">Country of Birth <input class="form-control" value="{{Personal.CountryofBirth}}"></div>
  
  </form>
  
  </div>
  <div class="col-sm-6">
  <br><br><br>
  
  </div>
  </div>
  </div>

  