<div class="panel-body">
  <div class="row">
  <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Previous Employers
      </h3>
  <form role="form">
          <div class="form-group">Employer <input  [(ngModel)]="PreviousEmployers && PreviousEmployers.Employer" [ngModelOptions]="{standalone: true}" class="form-control"></div>
          <div class="form-group">Start Date 
              <div class="input-group input-group-sm mb-3">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                  (click)="k.toggle()" name="dp" [(ngModel)]="model9" ngbDatepicker #k="ngbDatepicker">
                  <div class="input-group-append" style="display: flex">
                    
                  </div>
                </div>
          </div>
          <div class="form-group">End Date 
              <div class="input-group input-group-sm mb-3">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                  (click)="ol.toggle()" name="dp" [(ngModel)]="model8" ngbDatepicker #ol="ngbDatepicker">
                  <div class="input-group-append" style="display: flex">
                    
                  </div>
                </div>
          </div>
          <div class="form-group">Country <input  [(ngModel)]="PreviousEmployers && PreviousEmployers.Country" [ngModelOptions]="{standalone: true}" class="form-control"></div>
          <div class="form-group">Job Title <input  [(ngModel)]="PreviousEmployers && PreviousEmployers.JobTitle" [ngModelOptions]="{standalone: true}" class="form-control"></div>
          
  
  </form>
  
  </div>
  <div class="col-sm-6">
  <br><br><br>
  
  
  </div>
  </div>
  </div>