<div class="panel-body">
  <div class="row">
  <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Previous Employers
      </h3>
  <form role="form">
          <div class="form-group">Employer <input class="form-control"></div>
          <div class="form-group">Start Date <input class="form-control"></div>
          <div class="form-group">End Date <input class="form-control"></div>
          <div class="form-group">Country <input class="form-control"></div>
          <div class="form-group">Job Title <input class="form-control"></div>
          
  
  </form>
  
  </div>
  <div class="col-sm-6">
  <br><br><br>
  
  
  </div>
  </div>
  </div>