<div class="panel-body">
  <div class="row">
  <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Education
      </h3>
  <form role="form">
          <div class="form-group">Univeristy <input class="form-control"></div>
          <div class="form-group">Faculty <input class="form-control"></div>
          <div class="form-group">Country <input class="form-control"></div>
          <div class="form-group">Education Level <input class="form-control"></div>
          <div class="form-group">Major <input class="form-control"></div>
          <div class="form-group">Graduation Year <input class="form-control"></div>
          <div class="form-group">Masters? <input class="form-control"></div>
          <div class="form-group">PhD? <input class="form-control"></div>
          
  
  </form>
  
  </div>
  <div class="col-sm-6">
  <br><br><br>
  
  
  </div>
  </div>
  </div>