<div class="panel-body">
  <div class="row">
  <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Education
      </h3>
  <form role="form">
          <div class="form-group">Univeristy <input [(ngModel)]="education && education.Univeristy" [ngModelOptions]="{standalone: true}"  class="form-control"></div>
          <div class="form-group">Faculty <input [(ngModel)]="education && education.Faculty" [ngModelOptions]="{standalone: true}" class="form-control"></div>
          <div class="form-group">Country <input [(ngModel)]="education && education.Country" [ngModelOptions]="{standalone: true}"  class="form-control"></div>
          <div class="form-group">Education Level <input [(ngModel)]="education && education.educationLevel" [ngModelOptions]="{standalone: true}"  class="form-control"></div>
          <div class="form-group">Major <input [(ngModel)]="education && education.Major" [ngModelOptions]="{standalone: true}"  class="form-control"></div>
          <div class="form-group">Graduation Year <input [(ngModel)]="education && education.graduationYear" [ngModelOptions]="{standalone: true}"  class="form-control"></div>
          <div class="form-group">Masters? <input [(ngModel)]="education && education.Masters" [ngModelOptions]="{standalone: true}"  class="form-control"></div>
          <div class="form-group">PhD? <input [(ngModel)]="education && education.PhD" [ngModelOptions]="{standalone: true}" class="form-control"></div>
          
  
  </form>
  
  </div>
  <div class="col-sm-6">
  <br><br><br>
  
  
  </div>
  </div>
  </div>