
  
    <div class="panel-body">
    <div class="row">
    <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Name
        </h3>
    <form role="form">
    <div class="form-group">Form of Address <input class="form-control" [(ngModel)]="Personal && Personal.FormofAddress" [ngModelOptions]="{standalone: true}"></div>
    <div class="form-group">First Name <input class="form-control" [(ngModel)]="Personal && Personal.FirstName" [ngModelOptions]="{standalone: true}"></div>
    <div class="form-group">Last Name <input class="form-control" [(ngModel)]="Personal && Personal.LastName" [ngModelOptions]="{standalone: true}"></div>
    <div class="form-group">Arabic Full Name <input class="form-control" [(ngModel)]="Personal && Personal.ArabicFullName" [ngModelOptions]="{standalone: true}"></div>
    <div class="form-group">Gender <input class="form-control" [(ngModel)]="Personal && Personal.Gender" [ngModelOptions]="{standalone: true}"></div>
    <div class="form-group">Date of Birth <input class="form-control" [(ngModel)]="Personal && Personal.DateofBirth" [ngModelOptions]="{standalone: true}"></div>
    <div class="form-group">Country of Birth <input class="form-control" [(ngModel)]="Personal && Personal.CountryofBirth" [ngModelOptions]="{standalone: true}"></div>
    
    </form>
    
    </div>
    <div class="col-sm-6">
    <br><br><br>
    
    </div>
    </div>
    </div>
  
    
  
    
    