<!-- <a (click)="setClasses()" >x</a> -->
<!-- class="animated" -->
<div id="right-sidebar"  [ngClass]="setClasses()" >
    <!-- <h3>{{staff.PersonnelID }}</h3> -->


    <div class="sidebar-message">
            <a href="#">
                <div class="pull-left text-center">
                    <br>
                    <img alt="image" class="img-circle message-avatar" src="../../../../../assets/img/a6.jpg">

                </div>
                <div class="media-body">
                    <div>Name: {{ staff.Name }} </div>
                    <div>Division: {{staff.Division }} </div>
                    <div>Title: {{ staff.Title }} </div>
                    
                    
                    <br>
                    
                </div>
            </a>
        </div>

    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;"><div class="sidebar-container" style="overflow: hidden; width: auto; height: 100%;">

        
        <ul class="nav nav-tabs navs-3">

            <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">
                Basic
            </a></li>
            <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">
                Org
            </a></li>

            <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">
                    Connect
                <!-- <i class="fa fa-gear"></i> -->
            </a></li>
        </ul>

        <div class="tab-content">

            <div id="tab-1" class="tab-pane active">

                <div class="sidebar-title">
                    <i class="fa fa-tim"></i> You have 10 new message.
                </div>

                <div>Hiring Date: {{ staff.HiringDate }} </div>
                <div>Cost Center: {{ staff.Costcenter }} </div>
                <div>Status: {{ staff.EmploymentStatus }} </div>
                <div>Exit Date: {{ staff.EndDate }} </div>

            </div>

            <div id="tab-2" class="tab-pane">

                <div class="sidebar-title">
                    <i class="fa fa-tim"></i> You have 14 projects. 10 not completed.
                </div>
                
                <div>Division: {{staff.Division }} </div>
                <div>Department: {{ staff.Department }} </div>
                <div>Business Unit: {{ staff.BU }} </div>

            </div>

            <div id="tab-3" class="tab-pane">

                <div class="sidebar-title">
                    <i class="fa fa-tim"></i> You have 14 projects. 10 not completed.
                </div>
