<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div style="background-color: white;
    padding-bottom: 20px;
    padding-top: 5px;
    border: 1px solid #e0dede;
    border-radius: 3px;
    margin-top: 30px;">
            <h2  >personeeel action</h2>{{employeecode}}
            <p>
                <span class="user-text" style="margin-left:40px; padding-right:10px;">
                    user id :</span>
     <input class="form-control" [disabled]="isDisabeld" 
      #employeeCode  (keyup.enter)="getCode(employeeCode.value)"
     
      type="text" id="searchtxt" placeholder="Emp Code" />

            </p>
            <div class="input-group">
                <span class="user-text">Effective Date :</span> 
                <input  class="form-control" placeholder="yyyy-mm-dd"
                (click)="d.toggle()"  name="dp" [(ngModel)]="EffectiveDate" ngbDatepicker #d="ngbDatepicker" #do>
            </div> <!--the Date is: {{EffectiveDate .day |json}}-{{EffectiveDate .month |json}}-{{EffectiveDate .year |json}} -->
            the Date is:{{do.value}} 
            <button  type="button"  value="Excute"
                     (click)="goToPersoneelPage(actionType)"
                 class="btn btn-default pull-right"> Excute</button>
                
                 <h1> your Action is : {{ actionType}}</h1>


                <div class="ibox float-e-margins">
                    <div class="ibox-content" style="padding-top:25px; margin-top:30px;">
                       
                            <table class="table table-condensed table-bordered table-hover no-margins table-personal-action" id="Actions_tbl">
                                <thead>
                                    <tr>

                                        <th>Category</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>

                                        <tr *ngFor="let emplyee  of employeeAction2 ;let i= index " 
                                        (click)="selected(emplyee.actionType)"
                                         > 
                                      
                                            <td>{{i+1}}</td>
                                            <td >{{emplyee.actionType}}</td>
                                        </tr>


                                </tbody>
                            </table>
                        
                    </div>
                </div>
            </div>







        </div>
    </div>
<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>