<div class="panel-body">
  <div class="row">
  <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Immigration Data
      </h3>
  <form role="form">
          <div class="form-group">Name in Passport <input class="form-control" [(ngModel)]="immigration && immigration.NameinPassport" [ngModelOptions]="{standalone: true}"></div>
          <div class="form-group">Passport No. <input class="form-control" [(ngModel)]="immigration && immigration.PassportNo" [ngModelOptions]="{standalone: true}"></div>
          <div class="form-group">Passport County <input class="form-control" [(ngModel)]="immigration && immigration.PassportCounty" [ngModelOptions]="{standalone: true}"></div>
          <div class="form-group">Passport Issue Place <input class="form-control" [(ngModel)]="immigration && immigration.PassportIssuePlace" [ngModelOptions]="{standalone: true}"></div>
          <div class="form-group">Passport Expiration Date <input class="form-control" [(ngModel)]="immigration && immigration.PassportExpirationDate" [ngModelOptions]="{standalone: true}"></div>
          <div class="form-group">Visa No. <input class="form-control" [(ngModel)]="immigration && immigration.VisaNo" [ngModelOptions]="{standalone: true}"></div>
          <div class="form-group">Designation <input class="form-control" [(ngModel)]="immigration && immigration.Designation" [ngModelOptions]="{standalone: true}"></div>
          <div class="form-group">Duration in Yrs. <input class="form-control" [(ngModel)]="immigration && immigration.DurationinYrs" [ngModelOptions]="{standalone: true}"></div>
          <div class="form-group">Residence Permit No. <input class="form-control" [(ngModel)]="immigration && immigration.ResidencePermitNo" [ngModelOptions]="{standalone: true}"></div>
          <div class="form-group">Sponsor <input class="form-control" [(ngModel)]="immigration && immigration.Sponsor" [ngModelOptions]="{standalone: true}"></div>
          
  
  </form>
  
  </div>
  <div class="col-sm-6">
  <br><br><br>
  
  
  </div>
  </div>
  </div>