<div id="tab-1" class="tab-pane active">
  <div class="panel-body">
  <div class="row">
  <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Overview</h3>
  <p>This is an overview of the personnel data.</p>
  <form role="form">
  
    <div class="form-group">Creation Date <input  [(ngModel)]="GeneralInfo && GeneralInfo.createdAt" [ngModelOptions]="{standalone: true}" class="form-control"></div>
    <div class="form-group">ID <input  [(ngModel)]="GeneralInfo && GeneralInfo.StaffId" [ngModelOptions]="{standalone: true}" class="form-control"></div>

  
  </form>
  
  </div>
  <div class="col-sm-6">
  <br><br><br>
  
  </div>
  </div>
  </div>