<div class="panel-body">
  <div class="row">
  <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Attachements
      </h3>
  <form role="form">
          <div class="form-group">Picture <input [(ngModel)]="Banks && Banks.Picture" [ngModelOptions]="{standalone: true}"  class="form-control"></div>
          <div class="form-group">Document ID <input [(ngModel)]="Banks && Banks.DocumentID" [ngModelOptions]="{standalone: true}" class="form-control"></div>
          <div class="form-group">Document Title <input [(ngModel)]="Banks && Banks.DocumentTitle" [ngModelOptions]="{standalone: true}"  class="form-control"></div>
          <div class="form-group">Attachment Type <input [(ngModel)]="Banks && Banks.AttachmentType" [ngModelOptions]="{standalone: true}" class="form-control"></div>
          <div class="form-group">File <input [(ngModel)]="Banks && Banks.File" [ngModelOptions]="{standalone: true}" class="form-control"></div>
          
  
  </form>
  
  </div>
  <div class="col-sm-6">
  <br><br><br>
  
  
  </div>
  </div>
  </div>