<div class="panel-body">
  <div class="row">
  <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Wage Details
      </h3>
  <form role="form">
          <div class="form-group">Reason <input class="form-control"></div>
          <div class="form-group">Grade <input class="form-control"></div>
          <div class="form-group">Pay Period <input class="form-control"></div>
          <div class="form-group">Monthly Salary <input class="form-control"></div>
          <div class="form-group"> Amount <input class="form-control"></div>
          <div class="form-group">Currency <input class="form-control"></div>
          
  
  </form>
  
  </div>
  <div class="col-sm-6">
  <br><br><br>
  
  
  </div>
  </div>
  </div>