
  <div class="panel-body">
  <div class="row">
  <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Company Structure
      </h3>
  <form role="form">
  <div class="form-group">Company Code <input [(ngModel)]="OrgAssign.CompanyCode" [ngModelOptions]="{standalone: true}"class="form-control"></div>
  <div class="form-group">BU <input [(ngModel)]="OrgAssign.BU" [ngModelOptions]="{standalone: true}" class="form-control"></div>
  <div class="form-group">Division <input [(ngModel)]="OrgAssign.Division" [ngModelOptions]="{standalone: true}" class="form-control"></div>
  <div class="form-group">Department <input [(ngModel)]="OrgAssign.Department" [ngModelOptions]="{standalone: true}" class="form-control"></div>
  <div class="form-group">Title <input [(ngModel)]="OrgAssign.Title" [ngModelOptions]="{standalone: true}" class="form-control"></div>
  <div class="form-group">Personnel Areal <input [(ngModel)]="OrgAssign.PersonnelArea" [ngModelOptions]="{standalone: true}" class="form-control"></div>
  <div class="form-group">Personnel Sub-Area <input [(ngModel)]="OrgAssign.PersonnelSubArea" [ngModelOptions]="{standalone: true}" class="form-control"></div>
  <div class="form-group">Cost Center <input [(ngModel)]="OrgAssign.CostCenter" [ngModelOptions]="{standalone: true}" class="form-control"></div>
  
  </form>
  
  </div>
  <div class="col-sm-6">
  <br><br><br>
  <div class="form-group">Employee Group <input [(ngModel)]="OrgAssign.EmployeeGroup" [ngModelOptions]="{standalone: true}" class="form-control"></div>
  <div class="form-group">Employee Sub-Group <input [(ngModel)]="OrgAssign.EmployeeSubGroup" [ngModelOptions]="{standalone: true}" class="form-control"></div>
  <div class="form-group">Pay Area <input [(ngModel)]="OrgAssign.PayArea" [ngModelOptions]="{standalone: true}" class="form-control"></div>
  <div class="form-group">Job Family <input [(ngModel)]="OrgAssign.JobFamily" [ngModelOptions]="{standalone: true}" class="form-control"></div>
  <div class="form-group">Job Sub-Family <input [(ngModel)]="OrgAssign.JobSubFamily" [ngModelOptions]="{standalone: true}" class="form-control"></div>
  <div class="form-group">Position Code <input [(ngModel)]="OrgAssign.PositionCode" [ngModelOptions]="{standalone: true}" class="form-control"></div>
  <div class="form-group">Organization Unit <input [(ngModel)]="OrgAssign.OrgUnit" [ngModelOptions]="{standalone: true}" class="form-control"></div>
  
  </div>
  </div>
  </div>
