
<div style="display: flex">
  <input type="date"> &nbsp;
  <input type="date">
  <!-- <input type="text" class="input-sm" name="end" value="05/22/2014"> -->
  <div style="padding-left: 32px;"
  >
  <button (click)="backWard()" class="btn btn-link " type="button"><i class="fa fa-backward"></i></button>
  <button (click)="forWard()" class="btn btn-link " type="button"><i class="fa fa-forward"></i></button>
  <button (click)="NewForm()" class="btn btn-link " type="button"><i class="fa fa-file"></i> New</button>
  <button class="btn btn-link " type="button"><i class="fa fa-edit"></i>&nbsp;&nbsp;<span class="bold">Edit</span></button>
  <button (click)="onSave()" class="btn btn-link " type="button"><i class="fa fa-save"></i>&nbsp;Save</button>
  <button class="btn btn-link " type="button" data-toggle="modal" data-target="#myModal7"><i class="fa fa-eye"></i>&nbsp;Overview</button>
  </div>

</div>
<br>


  <div class="panel-body">
  <div class="row">
  <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Company Structure</h3>
  <form role="form">
  <div class="form-group">Company Code <input [(ngModel)]="OrgAssign && OrgAssign.CompanyCode" [ngModelOptions]="{standalone: true}"class="form-control"></div>
  <div class="form-group">BU <input [(ngModel)]="OrgAssign && OrgAssign.BU" [ngModelOptions]="{standalone: true}" class="form-control"></div>
  <div class="form-group">Division <input [(ngModel)]="OrgAssign && OrgAssign.Division" [ngModelOptions]="{standalone: true}" class="form-control"></div>
  <div class="form-group">Department <input [(ngModel)]="OrgAssign && OrgAssign.Department" [ngModelOptions]="{standalone: true}" class="form-control"></div>
  <div class="form-group">Title <input [(ngModel)]="OrgAssign && OrgAssign.Title" [ngModelOptions]="{standalone: true}" class="form-control"></div>
  <div class="form-group">Personnel Areal <input [(ngModel)]="OrgAssign && OrgAssign.PersonnelArea" [ngModelOptions]="{standalone: true}" class="form-control"></div>
  <div class="form-group">Personnel Sub-Area <input [(ngModel)]="OrgAssign && OrgAssign.PersonnelSubArea" [ngModelOptions]="{standalone: true}" class="form-control"></div>
  <div class="form-group">Cost Center <input [(ngModel)]="OrgAssign && OrgAssign.CostCenter" [ngModelOptions]="{standalone: true}" class="form-control"></div>
  
  </form>
  
  </div>
  <div class="col-sm-6">
  <br><br><br>
  <div class="form-group">Employee Group <input [(ngModel)]="OrgAssign && OrgAssign.EmployeeGroup" [ngModelOptions]="{standalone: true}" class="form-control"></div>
  <div class="form-group">Employee Sub-Group <input [(ngModel)]="OrgAssign && OrgAssign.EmployeeSubGroup" [ngModelOptions]="{standalone: true}" class="form-control"></div>
  <div class="form-group">Pay Area <input [(ngModel)]="OrgAssign && OrgAssign.PayArea" [ngModelOptions]="{standalone: true}" class="form-control"></div>
  <div class="form-group">Job Family <input [(ngModel)]="OrgAssign && OrgAssign.JobFamily" [ngModelOptions]="{standalone: true}" class="form-control"></div>
  <div class="form-group">Job Sub-Family <input [(ngModel)]="OrgAssign && OrgAssign.JobSubFamily" [ngModelOptions]="{standalone: true}" class="form-control"></div>
  <div class="form-group">Position Code <input [(ngModel)]="OrgAssign && OrgAssign.PositionCode" [ngModelOptions]="{standalone: true}" class="form-control"></div>
  <div class="form-group">Organization Unit <input [(ngModel)]="OrgAssign && OrgAssign.OrgUnit" [ngModelOptions]="{standalone: true}" class="form-control"></div>
  
  </div>
  </div>
  </div>




  
  <div class="modal inmodal fade" id="myModal7" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                
                <small class="font-bold">Select the time period: {{ selectedVer + 1}} </small>
            </div>
            <div class="modal-body">
              <table class="table table-bordered">
                <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Division</th>
                    <th>Department</th>
                    <th>Title</th>
                </tr>
                </thead>
                <tbody>
                <tr (click)="selectedVer = i" *ngFor="let item of OrgAssigns; let i = index">
                    <td>{{ item.ValidFrom }}</td>
                    <td>{{ item.ValidTo }}</td>
                    <td>{{ item.Division }}</td>
                    <td>{{ item.Department }}</td>
                    <td>{{ item.Title }}</td>
                </tr>
                </tbody>
            </table>            
          </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button (click)="viewVersion(selectedVer)" type="button" data-dismiss="modal" class="btn btn-primary">View Selected</button>
            </div>
        </div>
    </div>
</div>

