
<div class="panel-body">
<div class="row">
       
<div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Personnel Action    </h3>
<button type="button" (click)="postData(actionForm.value , idCode)">post</button>
<button type="button" (click)="deleteData(idCode)">delete</button>
<button type="button" (click)="editData(actionForm.value , idCode)">put</button>

<!-- <p>Form value: {{ actionForm.value | json }}</p>
<p>Form status: {{ actionForm.status | json }}</p> -->
<form [formGroup]="actionForm" role="form" (ngSubmit)="onSubmit(actionForm.value)">

<div class="form-group">Action Type 
<input   formControlName="ActionType" 
 class="form-control">
</div>


  <div class="form-group"  >
    <label for="exampleFormControlSelect1">Reason for Action</label>
    <select *ngIf="newHire || Rehire" class="form-control"    formControlName="newHireReason"
    id="exampleFormControlSelect1" >
      <option  *ngFor="let newHireReason of newHireReasons">{{newHireReason}}</option>
     
    </select>
    <select *ngIf="Separation" class="form-control" id="exampleFormControlSelect1"  formControlName="SeparationsReason">
            <option  *ngFor="let SeparationsReason of SeparationsReasons">{{SeparationsReason}}</option>
           
    </select>
    <select *ngIf="Reassignment" class="form-control" id="exampleFormControlSelect1"  formControlName="ReassignmentReason">
            <option  *ngFor="let ReassignmentReason of ReassignmentReasons">{{ReassignmentReason}}</option>
           
    </select>
    <select *ngIf="RoleChange" class="form-control" id="exampleFormControlSelect1"  formControlName="RoleChangeReason">
            <option  *ngFor="let RoleChangeReason of RoleChangeReasons">{{RoleChangeReason}}</option>
           
    </select>
    <select *ngIf="SalaryChange" class="form-control" id="exampleFormControlSelect1"  formControlName="SalaryChangeReason">
            <option  *ngFor="let SalaryChangeReason of SalaryChangeReasons">{{SalaryChangeReason}}</option>
           
    </select>
    <select *ngIf="EmploymentChange" class="form-control" id="exampleFormControlSelect1"  formControlName="EmploymentChangeReason">
            <option  *ngFor="let EmploymentChangeReason of EmploymentChangeReasons">{{EmploymentChangeReason}}</option>
           
    </select>
    <select *ngIf="TimeChange" class="form-control" id="exampleFormControlSelect1"  formControlName="TimeChangeReason"> 
            <option  *ngFor="let TimeChangeReason of TimeChangeReasons">{{TimeChangeReason}}</option>
           
    </select>
    
  </div>
        <div  *ngIf="Separation" class="form-group">
                <label for="exampleFormControlSelect1">Termination Reason</label>
                <select class="form-control" id="exampleFormControlSelect1"  formControlName="ReasonforTermination">
                  <option *ngFor="let ReasonforTermination of ReasonsforTermination">{{ReasonforTermination}}</option>
                 
                </select>
              </div>

<div class="form-group">Employment Status 
        <input   formControlName="EmploymentStatus" class="form-control" ></div>




</form>

</div>
<div class="col-sm-6">
<br><br><br>

</div>
</div>
</div>




