
<div style="display: flex">
    <input type="date"> &nbsp;
    <input type="date">
  
</div>

 {{infoAction.imageUrl}}  receivedCode.....{{idCode}}
<div class="panel-body">
<div class="row">

<div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Personnel Action    </h3>
<form role="form">
<div class="form-group">Action Type 
    
    <input  class="form-control"></div>
<div class="form-group">Reason for Action <input   class="form-control"></div>
<div class="form-group"> Termination Reason<input   class="form-control"></div>
<div class="form-group">Employment Status <input   class="form-control"></div>



</form>

</div>
<div class="col-sm-6">
<br><br><br>

</div>
</div>
</div>




