
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Welcome in Cyclers HCM Project
                </h1>
                <small>
                    This is the landing page of the application. To navigate please use the left hand navigation bar.
                </small>
            </div>

            <app-test-area></app-test-area>
        </div>  
    </div>
</div>

